<ion-header class="ion-text-center" *ngIf="doctor">
  <ion-toolbar>
    <ion-title><b>Dr<span *ngIf="doctor.usuario.sexo == 'F'">a</span>.</b> {{ doctor.usuario.nombre + ' ' + doctor.usuario.apellidoPaterno + ' ' + doctor.usuario.apellidoMaterno }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ doctor.especialidad }}</ion-card-subtitle>
      <ion-card-title>{{ doctor.usuario.nombre + ' ' + doctor.usuario.apellidoPaterno + ' ' + doctor.usuario.apellidoMaterno }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>
        <b>Cedula:</b>{{ doctor.numeroCedulaProfesional }} <br>
        <b>Universidad:</b>{{ doctor.universidad }}
      </p>
      <ion-button shape="round" (click)="dismiss()">Cerrar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>